.modal-background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-container{
    position: relative;
    display: flex;
    width: 70vw;
    height: 50vh;
    border-radius: 14px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    animation: small-to-big 0.3s ease-out;
}

.button-disabled {
    background: grey;
    cursor: not-allowed;
}

.done-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.done-button {
    background: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




@keyframes small-to-big{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
